.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .logo-container {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        animation: walking-shoes 2s infinite ease-in-out;

        @media (max-width: 768px) {
            width: 100px;
            height: 100px;
        }

        @media (max-width: 425px) {
            width: 80px;
            height: 80px;
        }

        .logo {
            width: 100px;
            height: auto;
            object-fit: cover;

            @media (max-width: 768px) {
                width: 80px;
            }

            @media (max-width: 425px) {
                width: 60px;
            }
        }

        &.shoes-walking {
            animation: walking-shoes 3s forwards;
        }

        @keyframes walking-shoes {
            0%, 100% {
                transform: translateY(0) scale(1);
            }

            25% {
                transform: translateY(-20px) scale(1.05);
            }

            50% {
                transform: translateX(10px) translateY(0) scale(1.1);
            }

            75% {
                transform: translateY(-20px) scale(1.05);
            }

            /* Move to the right and disappear */
            100% {
                transform: translateX(150vw) translateY(0) scale(1);
                opacity: 0.6;
            }
        }
    }
}
