@import "../../styles/index.scss";

// .add-to-cart{
//   margin-bottom: 0px;
// }
@import "../../styles/index.scss";

.cart-page {
  .back-btn {
    cursor: pointer;
    font-size: 20px;
    width: 0%;
    display: block;
    margin-top: 20px;
    margin-bottom: 0;
    @media (max-width: 576px) {
      margin: 10px;
    }
  }
  h1 {
    margin: 0;
    text-align: center;
    @include font60;
  }
  .product-page {
    @media (max-width: 576px) {
      flex-direction: column;
      margin-top: 0;
    }
    display: flex;
    padding: 20px;
    max-width: 1000px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    .remove-btn-top {
      display: none;
      @media (max-width: 576px) {
        font-size: 26px;
        display: block;
        cursor: pointer;
        margin-left: auto ;
        margin-bottom: 10px;
      }
    }
  }

  .gallery {
    flex: 1;
    @media (max-width: 576px) {
      margin-bottom: 20px;
    }

    .main-image {
      img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
      }
    }

    .thumbnail-images {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;

      img {
        width: 30%;
        cursor: pointer;
        border-radius: 5px;
        // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .product-info {
    @media (max-width: 576px) {
      margin: 0;
    }

    flex: 1;
    margin-left: 40px;
    .top-flex {
      display: flex;
      align-items: center;
      justify-content: space-between;

      h2 {
        font-size: 28px;
        color: #333;
      }
      .remove-btn {
        cursor: pointer;
        font-size: 26px;
        @media (max-width: 576px) {
          display: none;
          margin: 10px;
        }
      }
    }

    .price {
      font-size: 24px;
      color: #c30001;
      margin: 10px 0;
    }

    .description {
      margin-bottom: 20px;
      line-height: 1.6;
      color: #666;
    }

    .shoes-size {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 20px 0;
      p {
        font-size: 14px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 4px 8px;
        color: var(--theme-black-text);
        &:hover {
          cursor: pointer;
          border: 1px solid #fff;
          background-color: #e74c3c;
          color: #fff;
        }
      }
    }

    .add-to-cart-data {
      background-color: #c30001;
      color: #fff;
      padding: 15px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
      font-weight: bold;
      // margin-bottom: 20px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #dc3545;
      }
    }

    .tab-container {
      margin-top: 20px;

      button {
        padding: 10px;
        font-size: 16px;
        color: #333;
        background-color: #f5f5f5;
        border: none;
        margin-right: 5px;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &.active {
          color: #fff;
          background-color: #c30001;
        }

        &:hover {
          background-color: #dc3545;
        }
      }

      .tab-content {
        margin-top: 20px;

        h3 {
          font-size: 20px;
          color: #333;
        }

        ul {
          list-style-type: disc;
          padding-left: 20px;
          color: #666;

          li {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
