@import "../../../styles/index.scss";

.slideroffer {
  position: relative;

  display: block !important;
  // @media (max-width: 830px) {
  //    z-index: -1;
  // }
  @media (max-width: 500px) {
    margin: 10px;
  }
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
img {
   width: 100%;
   display: block;
   border-radius: 20px;
    @media (max-width: 768px) {
      height: 350px;
    }
    @media (max-width: 500px) {
      height: 275px;
    }
    @media (max-width: 400px) {
      height: 200px;
    }
    //   object-fit: cover;
  }
}
