@import '../../../styles/index.scss';

.slideroffer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img{
        object-fit: cover;
        width: 100%;
        display: block;
    }

}
