@import "../../styles/index.scss";

.womens-main {
  margin-top: 40px;
  .container {
     
      .women-card-main {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        justify-content: center;
        .shoes-card {
            // max-width: 300px;
            border: 1px solid #ddd;
            border-radius: 10px;
            overflow: hidden;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
      
            &:hover {
              transform: translateY(-5px);
            }
      
            .shoes-image {
              img {
                width: 100%;
                height: 270px;
                // height: auto;
              }
            }
      
            .shoes-details {
              padding: 0px 10px 10px 10px;
              text-align: center;
      
              .shoes-name {
                font-size: 1.2em;
                color: #333;
                margin-bottom: 5px;
              }
      
              .price-sec {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 15px;
                margin-bottom: 10px;
      
                .shoes-price {
                  font-size: 22px;
                }
                del {
                  font-size: 13px;
                  color: rgb(110, 120, 126);
                }
                span {
                  color: var(--theme-danger-text);
                  font-size: 13px;
                  font-weight: 700;
                }
              }
              .shoes-size {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-bottom: 10px;
                p {
                  font-size: 14px;
                  border: 1px solid #000;
                  border-radius: 5px;
                  padding: 4px 8px;
                  color: var(--theme-black-text);
                  &:hover {
                    cursor: pointer;
                    border: 1px solid #fff;
                    background-color: #e74c3c;
                    color: #fff;
                  }
                }
              }
              .cart-wish {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 20px;
                .fav-icon {
                  font-size: 27px;
                  cursor: pointer;
                }
                .add-to-cart-btn {
                  background-color: #e74c3c;
                  color: #fff;
                  padding: 10px 20px;
                  border: none;
                  border-radius: 5px;
                  cursor: pointer;
                  transition: background-color 0.3s ease;
      
                  &:hover {
                    background-color: #c0392b;
                  }
                }
              }
            }
          }
    }
    
  }
}