@import "../../styles/index.scss";

header {
  position: relative;
  @media (max-width: 650px) {
    padding: 0;
  }
  padding: 10px;
  background-color: rgba(221, 79, 79, 0);
  background-color: #fff;
  backdrop-filter: blur(10px);
  max-width: 100%;
  .container {
    .header-main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media (max-width: 830px) {
        justify-content: space-between;
      }

      .header-logo {
        @media (max-width: 550px) {
          grid-column: 1/3;
          // margin: 0 auto;
        }
        img {
          // @media (max-width: 450px) {
          //   height: 50px;
          // }
          width: 70px;
          height: 70px;
          display: block;
        }
      }
      .menu-item {
        @media (max-width: 830px) {
          display: none;
        }
        display: flex;
        gap: 30px;
        .hide {
          overflow: hidden;
          a {
            @media (max-width: 600px) {
              font-size: 16px;
              font-weight: 600;
            }
            font-size: 18px;
            font-weight: 600;
            position: relative;
            // color:var(--theme-gray-100-text);
            color: var(--theme-danger-background);
            &:hover {
              &::before {
                transform: translateX(0%);
              }
            }
            @media (max-width: 830px) {
              // display: none;
            }
          }
          a::before {
            position: absolute;
            transition: 0.5s ease-in-out;
            content: "";
            height: 4px;
            width: 100%;
            margin-bottom: -3px;
            background-color: var(--theme-danger-border);
            bottom: 0;
            transform: translateX(-110%);
          }
        }
      }
      .user-tools {
        display: flex;
        align-items: center;
        gap: 16px;
        .header-search {
          @media (max-width: 550px) {
            display: block;
          }
          cursor: pointer;
          align-items: center;
          display: flex;
          flex-direction: column;
          .search-icon {
            @media (max-width: 550px) {
              font-size: 25px;
            }
            font-size: 27px;
            color: var(--theme-danger-background);
            display: block;
          }
          p {
            @media (max-width: 830px) {
              display: none;
            }
            font-size: 12px;
            font-weight: 600;
            color: var(--theme-danger-background);
          }
        }
        .header-fav-cart {
          display: flex;
          gap: 16px;
          align-items: center;
          .header-fav {
            // @media (max-width: 830px) {
            //   display: none;
            // }
            @media (max-width: 550px) {
              display: block;
            }
            cursor: pointer;
            align-items: center;
            display: flex;
            flex-direction: column;
            .fav-icon {
              @media (max-width: 550px) {
                font-size: 25px;
              }
              font-size: 27px;
              color: var(--theme-danger-background);
              display: block;
            }
            p {
              @media (max-width: 830px) {
                display: none;
              }
              font-size: 12px;
              font-weight: 600;
              color: var(--theme-danger-background);
            }
          }
          .header-cart {
            // @media (max-width: 830px) {
            //   display: none;
            // }
            cursor: pointer;
            display: flex;
            flex-direction: column;
            align-items: center;
            .bag-icon {
              @media (max-width: 550px) {
                font-size: 26px;
              }
              font-size: 27px;
              color: var(--theme-danger-background);
              display: block;
            }
            p {
              @media (max-width: 830px) {
                display: none;
              }
              font-size: 12px;
              font-weight: 600;
              color: var(--theme-danger-background);
            }
          }
          .header-login {
            // @media (max-width: 830px) {
            //   display: none;
            // }
            cursor: pointer;
            a {
              display: flex;
              flex-direction: column;
              align-items: center;
              .profile-icon {
                @media (max-width: 550px) {
                  width: 24px;
                }
                font-size: 27px;
                color: var(--theme-danger-background);
                display: block;
              }
              p {
                @media (max-width: 830px) {
                  display: none;
                }
                font-size: 12px;
                font-weight: 600;
                color: var(--theme-danger-background);
              }
            }
          }
          .header-menu {
            @media (max-width: 830px) {
              display: block;
            }
            display: none;
            overflow: hidden;
            .menu-icon {
              @media (max-width: 830px) {
                font-size: 27px;
                color: var(--theme-danger-background);
                display: block;
              }
              @media (max-width: 550px) {
                font-size: 24px;
              }
            }
          }
        }
      }
    }
  }
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background-color: #f96868;
  overflow-y: scroll;
  padding-top: 71px;
  transition: 0.5s;
  z-index: 9999;

  &.open {
    width: 60%;

    @media (min-width: 830px) {
      width: 0%;
    }
  }

  .dropdown-category {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    max-height: 0;
    background-color: #f3f3f3;
    transition: max-height 0.5s ease, padding 0.3s ease;
    padding: 0 0;

    &.open {
      max-height: 350px;
      padding: 10px 0;
    }

    a {
      padding: 8px 10px 8px 40px;
      color: var(--theme-primary-color);
      font-size: 15px;
    }
  }
  .menu-header{
    position: absolute;
    top: 10px;
    right: 15px;
    display: flex;
    justify-content: space-between;
    width: 86%;
    align-items: center;
    
  }
  .closebtn {
    font-size: 35px;
    cursor: pointer;
  }
  .menu-text{
    font-size: 20px;
    
  }


  .menu-item {
    width: 100%;
    padding: 5px 15px;
    text-decoration: none;
    font-size: 20px;
    color: #080707;
    display: block;
    transition: 0.3s;
    border-bottom: 1px solid;
    // box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 5px 0px,
    //   rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;

    &.category {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
