@import "../../styles/index.scss";

header {
  padding: 10px;
  background-color: #fff;
  height: 100%;
  max-width: 100%;
  .container {
    .header-main {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-logo {
        img {
          width: 70px;
          height: 70px;
          display: block;
        }
      }
      .header-menu-item {
        display: flex;
        align-items: center;
        gap: 210px;
        .menu-item {
          display: flex;
          gap: 30px;
          .hide {
            overflow: hidden;
            a {
              font-size: 18px;
              font-weight: 600;
              position: relative;
              color: #101010;
              &:hover {
                color: var(--theme-danger-background);
                &::before {
                  transform: translateX(0%);
                }
              }
              @media (max-width: 1000px) {
                // display: none;
              }
            }
            a::before {
              position: absolute;
              transition: 0.5s ease-in-out;
              content: "";
              height: 4px;
              width: 100%;
              margin-bottom: -3px;
              background-color: var(--theme-danger-border);
              bottom: 0;
              transform: translateX(-110%);
            }
          }
        }
        .user-tools {
          display: flex;
          align-items: center;
          gap: 16px;
          .header-search {
            // @media (max-width: 1000px) {
            //   display: none;
            // }
            cursor: pointer;
            align-items: center;
            display: flex;
            flex-direction: column;
            .search-icon {
              font-size: 27px;
              fill: #101010;
            }
            p {
              font-size: 12px;
              font-weight: 600;
              color: #101010;
            }
          }
          .header-fav-cart {
            display: flex;
            gap: 16px;
            align-items: center;
            .header-fav {
              // @media (max-width: 1000px) {
              //   display: none;
              // }
              cursor: pointer;
              align-items: center;
              display: flex;
              flex-direction: column;
              .fav-icon {
                font-size: 27px;
                fill: #101010;
              }
              p {
                font-size: 12px;
                font-weight: 600;
                color: #101010;
              }
            }
            .header-cart {
              // @media (max-width: 1000px) {
              //   display: none;
              // }
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;
              .bag-icon {
                font-size: 27px;
                fill: #101010;
              }
              p {
                font-size: 12px;
                font-weight: 600;
                color: #101010;
              }
            }
            .header-login {
              // @media (max-width: 1000px) {
              //   display: none;
              // }
              cursor: pointer;
              display: flex;
              flex-direction: column;
              align-items: center;
              img {
                width: 27px;
                height: 27px;
                fill: #101010;
              }
              p {
                margin-top: -3px;
                font-size: 12px;
                font-weight: 600;
                color: #101010;
              }
            }
            .header-menu {
              // @media (max-width: 1000px) {
              //   display: block;
              // }
              display: none;
              overflow: hidden;
              // .menu-icon {
              //   @media (max-width: 1000px) {
              //     font-size: 27px;
              //     fill: #101010;
              //   }
              // }
              .menu {
                position: fixed;
                top: 0;
                right: -100px;
                width: 100px;
                height: 100px;
                background-color: #fff;
                z-index: 9;
                &.open {
                  right: 0;
                }
                p {
                  color: #000;
                }
              }
            }
          }
        }
      }
    }
  }
}
