@mixin font90{
    font-family: "Marcellus", serif;
    font-size: 90px;
    font-weight: 400;
}
@mixin font60{
    font-family: "Marcellus", serif;
    font-size: 60px;
    font-weight: 400;
}
@mixin font55{
    font-family: "Marcellus", serif;
    font-size: 55px;
    font-weight: 100;
}
@mixin font42{
    font-family: "Marcellus", serif;
    font-size: 42px;
    font-weight: 400;
}
@mixin font30{
    font-family: "Acme", sans-serif;
    font-size: 30px;
    font-weight: 400;
}
@mixin font20{
    font-family: "Jost", serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
@mixin font18{
    font-family: "Jost", serif;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}
@mixin font22{
    font-family: "Marcellus", serif;
    font-size: 22px;
    font-weight: 200;
    line-height: 30px;
}
@mixin font19{
    font-family: "Marcellus", serif;
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
}
@mixin font16{
    font-family: "Jost", serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}
@mixin font13{
    font-family: "Jost", sans-serif;
    font-size: 13px;
    font-weight: 500;
}
@mixin font12{
    font-family: "Jost", sans-serif;
    font-size: 12px;
    font-weight: 500;
}